.card-image{
    background-repeat:no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.card-image:hover{
    opacity: 1;
}

.text-black{
    text-decoration: none;
    color: #000;
}

.content {
    background-color: aliceblue;
    color: #000;
    padding-top: 10px;
    padding-right: 20px ;
    border-radius: 25px;
}